<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAjXwjCoi_UIh91C1FsuWolLFrz7Zb-1LA</string>
	<key>GCM_SENDER_ID</key>
	<string>489961540454</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bookwand.app</string>
	<key>PROJECT_ID</key>
	<string>book-wand</string>
	<key>STORAGE_BUCKET</key>
	<string>book-wand.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:489961540454:ios:056ef62671bba2120956a7</string>
	<key>DATABASE_URL</key>
	<string>https://book-wand-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>